body {
    background-color:bisque ;
}
nav ul li {
        display: inline-block;
}
nav ul li a {
    font-size: 30px;
    font-family: sans-serif;
    margin-left: 40px;
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    color:plum;
    font-size: 45px;
}
#p1 {
    color: green;
}